
body
  background: #dddddd

.wrapper
  width: 1120px
  margin: 50px auto
  background: #ffffff

  //
  min-height: 1000px

.test
  outline: 1px solid black
  background-color: #eeeeee

  margin-top: 40px
  position: relative

.test-1
  width: 1090px
  height: 200px

.position-center
  width: 150px
  height: 50px
  line-height: 50px
  margin: auto
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: red

